/*---------------------
	PAGE MAIN-STRUCTURE
-----------------------*/
body{
background: url('/site_media/img/bg.png')  repeat-x #83c44e;
background: #83c44e;
}
#head{
width: 800px; height: 150px;
border-bottom: 1px solid #252525;
margin: 0 auto;
text-align: left;
}
#container{
width: 800px; height: auto;
margin-top: 20px;
margin: 0 auto;
}
#comment{
width: 100%; min-height:100px; height: auto;
margin-top: 20px;
padding:20px;
}.text{
font: 12px Trebuchet MS;
color: #FFFFFF;
padding-bottom: 10px;
border-bottom: 1px solid #000;
}
h1{
	text-align: center;
	font: bold 50px 'Trebuchet MS' ;
	color: #FFF;
}